.cartBackground {
	background-image: url("https://images.pexels.com/photos/6956890/pexels-photo-6956890.jpeg");
	z-index: -1;

	/* Set a specific height */
	min-height: 100vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.please-add-container {
	font-size: 3rem;
	text-align: center;
	padding: 0 4.5rem 0;
	/* display: grid; */
	display: flex;
	flex-direction: column;  /* make main axis vertical */
    justify-content: center;	/*center items vertically, in this case */

	/* ok so the issue now is the alignment of being essentially 20-30% from the top... */

	gap: 10rem;
    align-items: center;     /* center items horizontally, in this case */
	/* grid-template-rows: 1fr 0;
  	grid-auto-flow: column;  */
	height: 100vh;
}
