.home {
    background-image: url('/home1.jpg');
	z-index: -1;

	/* Set a specific height */
	min-height: 100vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.homeContent {
	padding-top: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.txt {
	color: #FBFFFF;
	text-shadow: repeat(3,5px) rgba(255, 255, 255, 0.671);

}