.menu-item {
	position: relative;
}
.img {
	max-width: 250px;
	height: 250px;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
	border-radius: 3px;
}

.button {
	margin-top: 1rem;
	min-width: 35%;
	max-width: 50%;
}
