.menu {
	position: relative;
}

.menu-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: rgba(255, 255, 255, 0.523);
}

.menu-container > div {
	padding: 85px;
	min-width: 125px;
	min-height: 125px;
	border: gold transparent;
	gap: 1em;
}

.menu-background {
	z-index: -1000;
	opacity: 0.45;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
