.nav {
	display: flex;
	background-color: #bfe3b4;
	justify-content: space-between;
	padding: 0.5rem;
}
.nav a:hover {
	color: white;
}

.logo {
	max-width: 32px;
	position: relative;
	right: 42vw;
}

@media (min-width: 800px) {
	.logo {
		display: none;
	}
}
