.nav {
	display: flex;
	background-color: #bfe3b4;
	justify-content: space-between;
	padding: 0.5rem;
}
.nav a:hover{
    color: white;
}

.logo {
	max-width: 32px;
	position: sticky;
	/* align-items: center; */
	/* height: 5vh; */
	/* left: 47vw; */
	display: flexbox;
	/* flex-flow: row wrap; */
	flex-direction: column;
	flex-basis: auto;
	right: 48vw;
	/* align-items: center; */
}

@media (min-width: 800px) {
	.logo {
		display: none;
	}
}